<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Travelomind suite">
    <listeners>
        <listener class-name="listener.CustomListener"/>
    </listeners>
    <test thread-count="1" name="BookFlight">
        <classes>
            <class name="testCases.BookFlight"></class>

        </classes>
    </test>
    <test thread-count="1" name="BillingDetail">
        <classes>
            <class name="testCases.BillingDetail"></class>
        </classes>
    </test>
    <test thread-count="1" name="ShowAllFlight">
        <classes>
            <class name="testCases.ShowAllFlights"></class>
        </classes>
    </test>
    <test thread-count="1" name="ButtonsInModifySearchPage">
        <classes>
            <class name="testCases.ButtonsInModifySearchPageTC"></class>
        </classes>
    </test>
    <test thread-count="1" name="VoiceOfCustomer">
        <classes>
            <class name="testCases.VoiceOfCustomerTC"></class>
        </classes>
    </test>
    <test thread-count="1" name="FilteringSearchResults">
        <classes>
            <class name="testCases.FilteringSearchResultsTC"></class>
        </classes>
    </test>
    <test thread-count="1" name="HomePageLinks">
        <classes>
            <class name="testCases.HomePageLinksTC"></class>
        </classes>
    </test>
    <test thread-count="1" name="SeachingFlightsFromModifySearchPage">
        <classes>
            <class name="testCases.SeachingFlightsFromModifySearchPageTc"></class>
        </classes>
    </test>
    <test thread-count="1" name="Rough">
        <classes>
            <class name="testCases.Rough"></class>
        </classes>
    </test>
</suite>