<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Travelomind suite">
    <test thread-count="1" name="Travelomind">
        <classes>
            <class name="testCases.BookFlight"></class>
            <class name="testCases.BillingDetail"></class>
            <class name="testCases.ShowAllFlights"></class>
            <class name="testCases.ModifySearchTC"></class>
            <class name="testCases.VoiceOfCustomerTC"></class>
        </classes>
    </test>
</suite>